.lmj-plant-item {
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-transform: capitalize;
  height: 20%;
  width: 20%;
}

.lmj-logo {
  height: 50px;
  width: 50px;
}
